.textFieldSection {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.loginButton {
    margin: 20px 0;
}

.timeOffSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}